.listCol {
    text-align: center;
}

/* li {
    width: 30%;
    margin: auto;
    font-size: 30px;
} */

.do{
    width: 30%;
    margin: auto;
    font-size: 30px;
}
.jH1 {
    text-align: center;
}

.listCol {
    border: 2px solid black;
    height: 425px;
    overflow-x: auto;
    background-color: #7395ae;
    margin-bottom: 10px;
}

.History {
    border: 2px solid black;
    height: 500px;
    overflow-x: auto;
    background-color: #7395ae;
    margin-bottom: 20px;
}

hr {
    border: 3px solid black;
}

body {
    background-color: #5d5c61;
}

.jumbotron {
    background-color: #557a95;
}

button {
    border-radius: 10px;
    background-color: #14a76c;
}

button:hover {
    background-color: white;
    color: black;
}

.historyH3 {
    text-align: center;
}

.championShipDiv {
    background-color: white;
    width: 80%;
    margin: auto;
    margin-top: 15px;
    padding: 20px;
}

/* this is for sacko formula */

.myTable1 {
    font-size: 20px;
}

.tableHead {
    font-size: 15px;
    padding: 10px 10px;
}

.liPF {
    padding-right: 12px;
}

.liM {
    padding-right: 8px;
}

.liR {
    padding-left: 8px;
}

.tableP {
    border: dotted;
    border-width: .5px;
}

.tableS {
    border: solid;
    border-width: .5px;
}

.asterisk {
    font-size: 10px;
}

.explanation {
    text-align: center;
    text-decoration: underline;
    font-weight: 700;
}

.rulesList {
    border: solid;
    border-width: 5px;
    border-color: steelblue;
    background-color: white;
    color: black;
    padding-right: 5px;
}

.rulesLI{
    width: 90% !important;
    font-size: 20px !important;
}